{
  "plugins": [
      "react", "jest"
  ],
  "parserOptions": {
      "ecmaVersion": 11,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      },
  },
  "env": {
      "es6":     true,
      "browser": true,
      "node":    true,
      "jest":   true
  },   
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "prettier/react",
  ],  
"rules": {
  "max-len": ["error", {"code": 120}],
  "prefer-promise-reject-errors": ["off"],
  "react/jsx-filename-extension": ["off"],
  "react/jsx-props-no-spreading": ["off"],
  "comma-dangle": ["off"],
  "no-return-assign": ["off"],
  "consistent-return": ["off"],
  "react/prop-types": ["off"],
  "no-underscore-dangle": ["off"],
  "treatUndefinedAsUnspecified": ["off"],
  "jsx-a11y/click-events-have-key-events": ["off"],
  "jsx-a11y/no-static-element-interactions": ["off"],
},
"overrides": [
  {
    "files": "tests/**",
    "rules": {
      "no-template-curly-in-string": 1,
    },
  },
  {
    "files": "markdown.config.js",
    "rules": {
      "no-console": 0,
    },
  },
],
}