.Comment_container{
  margin: 20px;
  padding: 30px 40px 30px 40px;
  display: flex;
  flex-Direction: column;
}

.Comment_element{
  display: flex;
  margin-top: 20px;
}

.Comment_like{
  display: flex;
  margin-top: 10px;
}

.Comment_editbutton{
  color: var(--lightgrey) !important;
}

.Comment_editbutton_icon{
  margin-right: 5px;
}

.Comment_sendbutton{
  color: var(--blue) !important;
}