@import '../../styles/breakpoints.scss';

.user-card-container {
    padding: 4px;
    width  : 100%;
    display: flex;
}

.user-card-bloc {
    overflow-x: auto;
    margin    : 5px;
}

.user-card {
    display: inline-block;
    width  : 200px;
    height : 90%;
    margin : 5px;
    padding: 5px;
}

.user-card-name,
.user-card-school {
    margin   : 0;
    padding  : 3px;
    font-size: 12px;
}

.user-card-avatar {
    display        : flex;
    justify-content: center;
}

.user-card-tag {
    display: flex;
    justify-content: center;
}