@import '../../styles/breakpoints.scss';

.subNavbar{
  width: 100%;
  height: 70px;
  align-items: center;
  background-color: white;
  // border-bottom:  1px solid #3f51b5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 3px;
  z-index: 4;
  display: inline-flex;
  position: relative;
}

.SubNavbar-desktop-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 15px;
}

.logButton {
    color: var(--blue);
    width: 80px;
    height: 40px;
    /* position: fixed; */
    right: 20px;
    border: 2px solid var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer
}

.bell {
    right: 250;
    /* position: fixed; */
    border: 2px solid black;
}

.menu_icon {
  margin-right: 20px;
  display: none;
  color: var(--blue);
  &:hover {
    cursor: pointer;
  }
  
  @media screen and (max-width: $mobile-breakpoint) {
    display: block;
  }
}
.Subnavbar_img {
  margin-left: 10px;
  display: flex;
  align-items: center;

  @media screen and (min-width: $mobile-breakpoint) {
    display: none !important;

    img {
      display: none !important;
    }
  }
}

.Subnavbar_title {
  @media screen and (max-width: $mobile-breakpoint) {
    width: 100%;
    text-align: center;
  }
}

.user_menu_button {
  &:hover {
    cursor: pointer;
  }
}

.MuiButtonBase-root.filter-icon-desktop {
  background-color: var(--blue);
  color: white;
  width: 90px;

  &:hover {
    background-color: #28399d;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }
}