.footer {
  color: var(--blue);
}

.footer-line {
  border-top: 2px solid var(--blue);
  width: 100%;
}

.h4-footer {
  width: 100%;
  padding-top: 8px;
  text-align: center;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-links li {
  list-style: none;
}
