:root {
  --blue: #3f51b5;
  --red: #DC004E;
  --lightgrey: #9e9e9e;
  --background: #F5F6F8;
}

.blue{
  color: var(--blue);
}

.red{
  color: var(--red);
}

.lightgrey{
  color: var(--lightgrey);
}

.lightgreyBackground{
  background-color: var(--background);
}

.bold{
  font-weight: bold;
}

.flex_ {
  display: flex;
}

.flex_column{
  display: flex;
  flex-direction: column;
}

.flex1{
  flex:1
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}

.pageContainer{
  margin-top: 85px;
}