@import './Components/styles/breakpoints.scss';

:root {
  --blue: #3f51b5;
  --bgBlue: #aab6fe;
  --red: #DC004E;
  --lightgrey: #9e9e9e;
  --background: #F5F6F8;
}

.blue{
  color: var(--blue);
}

.red{
  color: var(--red);
}

.lightgrey{
  color: var(--lightgrey);
}

.lightgreyBackground{
  background-color: var(--background);
}

.bold{
  font-weight: bold;
}

.flex_ {
  display: flex;
  align-items: center;
}

.flex_column{
  display: flex;
  flex-direction: column;
}

.flex1{
  flex:1
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}

.pageContainer{
  /* margin-top: 85px;
  height: calc(100vh - 85px); */
  flex-grow: 1;
  overflow-y: auto;
  position: absolute;
  height: calc(100% - 70px);
  width: calc(100% - 200px);
  background-color: var(--background);

  @media screen and (max-width: $mobile-breakpoint) {
    width: 100%;
  }
}