body {
  overflow: hidden; /*makes the body non-scrollable in order to fix sidebar & header*/
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text1 {
  color: darkblue;
  text-align: center;
}

.Paper-block {
  text-align: center;
  width: 60%;
  padding: 5%;
  padding-left: 5%;
}

.color-h4 {
  color: darkblue;
}

.container-box {
  padding: 2%;
  padding-right: 20%;
}
