@import '../../styles/breakpoints.scss';

.Chat_container{
  height: 100%;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }
}



//ChatRoomList
.ChatRoomList{
  flex:1;
  height:100%;
  // border-right: 1px solid var(--blue);
  @media screen and (max-width: $mobile-breakpoint) {
    height:30%;
    border-right: unset;
    border-bottom: 1px solid var(--blue);
  }
}

.ChatRoomList_header{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  .ChatRoomList_searchbar{
    height: 40px;
    width: 50%;
    min-width: 250px;
    max-width: 400px;
    display: flex;
    margin: 15px 20px;
    border-radius: 20px;
  }
  .ChatRoomList_searchbar_input{
    padding-left: 20px;
    flex-grow: 5;
  }
}



//ChatRoomBox
.ChatRoomBox{
  height: 40px;
  padding: 15px 20px;
  margin: 5px 5px 5px 15px;
  border-radius: 5px;
  // border-bottom: 1px solid var(--background);
  display: flex;
  align-items: center;
  background-color: white;

  .ChatRoomBox_texts{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .second{
    height: 100%;
    align-items: flex-end;
    justify-content: flex-start;
    span:first-child{
      color:grey;
    }
  }

  .badge{
    height: 20px;
    max-width: 30px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 6px;
    color: #fff;
    background-color: var(--red);
    font-size: 0.75rem;
    font-weight: 500;
  }
}



//ChatMessages
.ChatMessages{
  flex: 2;
  height:100%;
  @media screen and (max-width: $mobile-breakpoint) {
    height:60%;
  }
}

.ChatMessages_container{
  height: calc(100% - 40px);
  margin: 20px 10px;
  overflow: hidden;
}
.ChatMessages_header{
  height: 55px;
  background-color: #efefef;
  border-bottom: 1px solid var(--background);
}