@import '../../styles/breakpoints.scss';

.Chat_container{
  height: 100%;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }
}



//ChatRoomList
.ChatRoomList{
  flex:1;
  height:100%;
  // border-right: 1px solid var(--blue);
  @media screen and (max-width: $mobile-breakpoint) {
    height:30%;
    border-right: unset;
    border-bottom: 1px solid var(--blue);
    overflow-y: auto;
  }
}

.ChatRoomList_header{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  .ChatRoomList_searchbar{
    height: 40px;
    width: 50%;
    min-width: 250px;
    max-width: 400px;
    display: flex;
    margin: 15px 20px;
    border-radius: 20px;
  }
  .ChatRoomList_searchbar_input{
    padding-left: 20px;
    flex-grow: 5;
  }
}



//ChatRoomBox
.ChatRoomBox{
  height: 40px;
  padding: 15px 20px;
  margin: 5px 5px 5px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: white;
  @media screen and (max-width: $mobile-breakpoint) {
    margin: 5px;
  }

  .ChatRoomBox_texts{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .second{
    height: 100%;
    align-items: flex-end;
    justify-content: flex-start;
    span:first-child{
      color:grey;
    }
  }

  .badge{
    height: 20px;
    max-width: 30px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 6px;
    color: #fff;
    background-color: var(--red);
    font-size: 0.75rem;
    font-weight: 500;
  }
}



//ChatMessages
.ChatMessages{
  flex: 2;
  height:100%;
  @media screen and (max-width: $mobile-breakpoint) {
    height:60%;
  }
}

.ChatMessages_container{
  height: calc(100% - 25px);
  margin: 10px 15px 15px 10px;
  overflow: hidden;
  @media screen and (max-width: $mobile-breakpoint) {
    margin: 5px;
  }
}

.ChatMessages_header{
  height: 55px;
  border-bottom: 1px solid #dddddd;

  display: flex;
  align-items: center;
  padding: 5px 15px;
  
  .MuiTypography-subtitle2{
    margin-left: 5px;
  }

}

.ChatMessages_body{
  width:100%;
  height: calc(100% - 120px);
  overflow-y: auto;
  border-bottom: 1px solid #dddddd;
}

.ChatMessages_input{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 10px;

  .ChatMessages_input_box{
    margin-left: 10px;
    flex: 1;
  }
}


//ChatMessageBox
.ChatMessageBox{
  margin: 10px;
  display: flex;

  .ChatMessageBox_msg_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 10px;
  }

  .ChatMessageBox_chat{
    flex:1;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;

    background-color: var(--blue);
    color: white;
  }

  .ChatMessageBox_chat.not_my_chat{
    background-color: var(--background);
    color: black;
  }
  .ChatMessageBox_name{
    color: #0C6157;
    font-weight: bold;
    margin-bottom: 5px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .ChatMessageBox_date{
    align-self: flex-end;
    color: grey;
  }
  .ChatMessageBox_date.not_my_chat{
    margin-left: 20px;
  }
}